<div class="content_post"  >


  <div class = "" style="background-image: url(<%= tweet.image %>)";> </div>

  <%#削除や詳細のたぶ%>


  <div class="more" >
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
      </li>
      <%#ログインしている人だけが消せる%>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
      <% end %>
    </ul>
  </div>
<%#内容%>
    <div class="tweet_style box_link">
      <a href="/tweets/<%=tweet.id%>">

      <%= simple_format(tweet.text) %>
        </a>
    </div>
  <span class="name">

        <a class="time_line_prof" href = "/users/<%= tweet.user_id %>" tabindex="-1" aria-hidden="true">
          <img alt="<%= tweet.user.nickname %>"class="prof_image_sml" src="<%=  tweet.user.prof_img%>"></a>
        <a href="/users/<%= tweet.user_id %>">

          <%= tweet.user.nickname %>
        </a>
  </span>

</div>


