<div class="content_post" style="background-image: url(<%= tweet.image %>);">

  <%#削除や詳細のたぶ%>
  <div class="more">
    <span><%= image_tag 'arrow_top.png' %></span>
    <ul class="more_list">
      <li>
        <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
      </li>

      <% if user_signed_in? && current_user.id == tweet.user_id %><%#削除機能 %>
          <li>
            <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
          </li>
      <% end %>

    </ul>
  </div>


  <%= simple_format(tweet.text) %>
  <span class="name">


    <a class="time_line_prof" href = "/users/<%= tweet.user_id %>" tabindex="-1" aria-hidden="true">
      <img alt="<%= tweet.user.nickname %>"class="prof_image_sml" src="<%=  tweet.user.prof_img%>">
    </a>


    <a href="/users/<%= tweet.user_id %>">
      <span>投稿者</span><%= tweet.user.nickname %>
    </a>
  </span>
</div>

